<h1>Patients</h1>

<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= link_to patient.full_name, patient %>
    </li>
  <% end %>

  
</ul>

<hr/>
<%= link_to 'Add New Patient', new_patient_path, class: 'ui blue button' %>