<h1><%= @patient.full_name %></h1>
<hr />
<h3>Patient Appointments </h3>

<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.date, appointment %>
    </li>
  <% end %>
</ul>


<br />
<%= link_to 'Delete Patient', @patient, method: :delete, class: 'ui red button' %>

