<h1> Appointments </h1>


<%= link_to 'Add Appointment', new_patient_appointment_path %>
<hr />
<h2> Scheduled: </h2>
<ul>
  <% @appointments.each do |appointment| %>
    <li>
      <%= appointment.date %>
      <%= link_to 'Remove', [@appointment, t], method: :delete %>
    </li>
  <% end %>
</ul>


