<h1> Appointments</h1>


<%= link_to 'Add Appointment', new_patient_appointment_path(:patient_id)%>
<hr />
<h2>Scheduled: </h2>
<ul>
  <% @appointments.each do |t| %>
    <li>
      <%= t.appointment.date %>
      <br />
      <%= link_to 'Remove', [@appointment, t], method: :delete %>
    </li>
  <% end %>
</ul>


