<h1> Appointment Details </h1>


<ul>
  <%# @appointments.each do |appointment| %>
    <li>
    <%= link_to @appointment.date, patient_appointment_path(@appointment.patient_id, @appointment.id) %>
    </li>
  <%# end %>
</ul>

<br />
<%= button_to 'Delete Appointment', patient_appointment_path(@appointment.patient_id, @appointment.id), method: :delete %>
<hr/>
<br>
<%= link_to 'Edit Doctor', edit_doctor_path, class: 'ui blue button' %>