<nav>
  <ul>
    <li>
      <%= link_to 'See All Doctors', doctors_path %>
    </li>
    <li>
    <%= link_to 'See All Patients', patients_path %>
    </li>
    <li>
      <%= link_to 'Add Patient', new_patient_path %>
    </li>
  </ul>
</nav>